@media only screen and (max-width: 600px) {
	.logo {
		animation: lightSpeedIn 0.65s cubic-bezier(0.23, 1, 0.32, 1) both;
	}

	.logo img {
		margin: 5vh auto;
		min-width: 80vw;
		animation: lightSpeedIn 1s ease-out both;
	}

	.plane {
		top: 20vh;
		left: -90vw;
		width: 75%;
		animation: plane-move 15s infinite both;
	}

	.scene-bg > .cloud-2 {
		opacity: 0.35 !important;
	}

	@keyframes lightSpeedIn {
		0% {
			transform: translate3d(100%, 0, 0) skewX(-30deg);
			opacity: 0;
		}
		// ... (other keyframes for lightSpeedIn)
		100% {
			transform: none;
			opacity: 1;
		}
	}
}
