@import url("https://fonts.googleapis.com/css2?family=Maitree:wght@400;600&family=Work+Sans&display=swap");

:root {
  --black: #212529;
  --white: #f9f8f8;
  --green: #69b578;
  --dk-green: rgb(36, 66, 43);
  --blue: #153b50;
  --yellow: rgb(240, 197, 20);
  --red: rgb(164, 22, 35);
  --accent: #fe4a49;

  --ff-primary: "Work Sans", sans-serif;
  --ff-serif: "Maitree", serif;
}

